@{
}
<div class="widget widget-manage-account">
    <div class="panel panel-default panel-narrow">
        <div class="panel-heading">
            <h3 class="h2 panel-title"><strong>Manage</strong> My Account</h3>
        </div><!-- .panel-heading -->
        <div class="panel-body">
            <ul class="list-unstyled list-item-space">
                <li><a href="#">Update Contact Information</a></li>
                <li><a href="#">Update my Vacation Profile</a></li>
                <li><a href="#">Change Password</a></li>
                <li><a href="#">Choice Privileges ID &amp; Activity</a></li>
            </ul>
        </div><!-- .panel-body -->
    </div><!-- .panel -->
</div>
