@using System.Data;
@using BGSitecore.Utils;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<BGSitecore.Models.Wysiwyg>

<div class="row">
    <div class="col-xs-12 wysiwyg">
        @if (!string.IsNullOrWhiteSpace(Model.Title))
        {
            <h2 class="h2 first-word">@Editable(Model, x => x.Title)</h2>
        }
        @Html.Raw(Editable(Model, x => x.Content))

    </div>
</div>

