<div id="ReservationSearch_calendar" class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
    <table>
        <thead>
            <tr class="planItMonth">
                <td colspan="7" name="title">January 0001</td>
            </tr>
            <tr class="planItWeekDays">
                <td>Sun</td>
                <td>Mon</td>
                <td>Tue</td>
                <td>Wed</td>
                <td>Thu</td>
                <td>Fri</td>
                <td>Sat</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <div class="legend legendOdd"><span class="block dayAvailable"></span> Check-in Available</div>
    <div class="legend"><span class="block daySelected"></span> Selected</div>
    <br />
    <div class="legend legendOdd"><span class="block dayNotAvailable"></span> Check-in Not Available</div>
    <div class="legend"><span class="block dayOutsideWindow"></span> Outside Booking Window</div>
</div>
