<!-- Template for daily rates table -->
<!-- Template for daily rates popup -->
<div id="dailyRate" style="width: 230px; height: 170px; "> <!-- position: absolute; top: 35px; left: 35px; -->
    <div style="width: 211px; height: 19px; overflow: hidden; color: black; font-size: 16px; font-weight: bold; font-family: Verdana;">Daily Rates</div> <!-- position: absolute; top: 0px; left: 0px; -->
    <img style="width: 19px; height: 19px; cursor: pointer; " src="~/Content/Images/button.png"> <!-- position: absolute; top: 0px; right: 0px; -->
</div>

<!-- position: absolute; top: 19px; left: 0px; -->
<table name="rateTable" class="hiddenTemplate" align="center" border="0" cellpadding="2" cellspacing="1" width="220">
    <tbody>
        <tr name="DailyRateHeader" class="cal-date hiddenTemplate" align="center" bgcolor="#333333">
        </tr>
        <tr name="DailyRateRow" class="cal-pts hiddenTemplate" align="center" bgcolor="#FFFFFF">
        </tr>
    </tbody>
</table>
