@using Sitecore.Mvc

<div class="site-content" id="site-content" style="transform: none;">
    <div class="container" style="transform: none;">
        <div class="row" style="transform: none;">
            <div class="col-xs-12 col-primary">
                @Html.Sitecore().Placeholder("sitecontent")
            </div>
         </div>
    </div>
</div>

