@model BGModern.Models.ResortModel
@{
    Layout = "~/Views/ResortMasterLayout.cshtml";
}

    <div id="ResortWrapper" style="padding-top:5px; width:100%;">
        <div id="rpCarousel" class="carousel slide" data-ride="carousel" >
            <!-- Carousel items -->
            <div class="carousel-inner">
                @{
                    int cnt = 0;
                    foreach (BGModern.Models.CaptionedPhotoModel photo in Model.ResortPhotos.Photos)
                    {
                        if (cnt == 0)
                        {
                            <div class="item active"><img src="@photo.PhotoURL" class="carousel-centered-image" /></div>
                            cnt++;
                        }
                        else
                        {
                            <div class="item"><img src="@photo.PhotoURL" class="carousel-centered-image" /></div>
                        }
                    }
                }
            </div>
            <!-- Carousel nav -->
            <div class="carousel-controls">
                <a class="carousel-control left" href="#rpCarousel" role="button" data-slide="prev" aria-hidden="true"><span class="glyphicon glyphicon-chevron-left"></span></a>

                <ol class="carousel-indicators">
                    @{
                        int ind = 0;
                        foreach (BGModern.Models.CaptionedPhotoModel photo in Model.ResortPhotos.Photos)
                        {
                            if (ind == 0)
                            {
                                <li data-target="#rpCarousel" data-slide-to="@ind" class="active"></li>
                            }
                            else
                            {
                                <li data-target="#rpCarousel" data-slide-to="@ind"></li>
                            }

                            ind++;
                        }
                    }
                </ol>

                <a class="carousel-control right" href="#rpCarousel" role="button" data-slide="next" aria-hidden="true"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
