
@model BGSitecore.Models.Rewards

<div id="earn-rewards">
    <h2 class="h2">
        <span class="badge badge-lg badge-round badge-default">2</span>
        @Html.Raw(Model.EarnRewardsTitle)
    </h2>
    @Html.Raw(Model.EarnRewardsDescription)
 </div>
        @Html.Raw(Model.RedeemRewardsContent)

