@using Sitecore.Mvc
@using BGSitecore.Extensions

<div class="col-md-3">
    @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
    {
        <p>[1/4 Width Column]</p>
    }
    @Html.Sitecore().DynamicPlaceholder("flex-content")

</div>