@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using BGSitecore.Models.Resort
@using Sitecore.Mvc.Configuration

@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ResortDetails>

@{
   
}
<div class="widget widget-account-summary js-bookingSection" id="book">
    <div class="panel panel-default panel-narrow">
        <div class="sr-only panel-heading">
            <h3 class="h2 panel-title"><strong>Booking</strong> Details</h3>
        </div><!-- .panel-heading -->
        <div class="panel-body">
            <dl>

                <dt>Check-in</dt>
                <dd class="js-booking-setcheckindate"></dd>
                <dt>Check-out</dt>
                <dd class="js-booking-setcheckoutdate"></dd>
                <dt>Villa Type/Size</dt>
                <dd class="js-booking-villasize"></dd>
                <dt>Maximum Occupancy</dt>
                <dd class="js-booking-maxoccupancy"></dd>
                <dt>Availability</dt>
                <dd class="js-booking-availability"></dd>
                <dt>Amount</dt>
                <dd class="js-booking-amount"></dd>
            </dl>
            <p>
                <a href="" class="btn btn-primary btn-block js-book-now">Book Now</a>
            </p>
        </div><!-- .panel-body -->
    </div><!-- .panel -->
</div><!-- .widget -->